@font-face {
	font-family: "iconfont";
	/* Project id 3985561 */
	src: url('/static/iconfont.ttf');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 22px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconfont-lg {
	font-family: "iconfont" !important;
	font-size: 28px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
	content: "\e7eb";
}


.icon-add:before {
	content: "\e66c";
}

.icon-scan:before {
	content: "\e8f8";
}

.icon-liwuhuodong:before {
	content: "\e600";
}

.icon-yuyin:before {
	content: "\e8f7";
}

.icon-duoren:before {
	content: "\e6c1";
}

.icon-qiandao:before {
	content: "\e619";
}

.icon-wenjianbianji:before {
	content: "\e884";
}

.icon-more:before {
	content: "\e710";
}

.icon-search:before {
	content: "\e699";
}